<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
</head>

<style>
    .errorlist {
        display: none;
    }
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<body>
    <div id="produto">
        <h1>Cadastrar novo Produto</h1>
        <form action="{% url 'cadastrar_produto' %}" method="post">
            {%csrf_token%}
            {{form}}
            <button type="submit">Cadastrar</button>
        </form>
        <a href="{% url "cadastrar_fornecedor" %}"><button id="produto_button">Novo Fornecedor</button></a>
        <a href="{% url "cadastrar_categoria" %}"><button id="produto_button">Nova Categoria</button></a>

    </div>
</body>

</html>